.abbyypagehead, .abbyypagefoot, .droppedhyphen, .replaced {
    display: none;}
.abbyyleafstart, .abbyyblock, .abbyyparamark, .abbyylineinfo {
    display: none;}
.abbyycentered { text-align: center;}
.abbyyleft { }
.abbyyright { }
